{
  "parser": "@typescript-eslint/parser",
  "extends": "standard",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "import/export": 0,
    "semi": [2, "always"]
  }
}
